@import './scss-styles/custom.scss'; 
// https://codepen.io/Kamilica/pen/XRbvaL

::-webkit-scrollbar {
  width: 0px;  
  background: transparent;  
}
 .home{
  position: absolute;
  width: 50%;
  left: 30%;
  top: 13%;
 }
 .c-pointer{
 cursor: pointer;
 }
 .card{
  position: absolute;
  width: 50%;
  left: 30%;
  top: 13%;
 }
 .c-pointer{
 cursor: pointer;
 }